<a href="casa.component.html">
  <button>Volver a la Página de Inicio</button>
</a>
<div class="card-container">

    <p-card header="Cerraron chinpique" subheader="Alba" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i1.sndcdn.com/artworks-F6YtKUx4Nfzij8IL-8qRaXA-t500x500.jpg" />
      </ng-template>
      <p>
        Regresa a casa, por favor
Primavera me robó
Tu presencia, y no aguanto este invierno
El frío se ha vuelto más feroz
Ha acabado con mi voz
Y muero por decirte que estoy muriendo
Y que la Sierra Madre luce sola
Desde mi cama, renuncio al melodrama
Cuando no se sienta nada
Que ya no se sienta nada
Que al fin acabe la obra
Encuentra la forma, decirme la hora
Cuando no se sienta nada
El sol se lleve la sombra
Y ya no estés tan rota
Y te ensamble mi boca
Cuento las horas hasta que se sienta nada
Invierno, ¿me abandonarás?
Tú serías incapaz

 </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="Agregar" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-blue-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="El pajaro vio el cielo y volo" subheader="Cover" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i.scdn.co/image/ab67616d0000b273a59d5333ecb0c104538219be" />
      </ng-template>
      <p>
        Miro hacia atrás cómo el viento se va, pero vuelve
Creo que el sol, me sonríe y el pasto es más verde
Desde que todo terminó, me siento cada vez mejor
Fue tanto el tiempo que pasó
(El fuego se apagó)
Y un día, el techo se rajó
Y el pájaro vio el cielo y se voló
Te di mi corazón y lo perdiste
Me lastimaste cuando me mentiste
Y arriba el cielo (Qué lindo el cielo)
Y abajo el mar (Qué lindo el mar)
Y los arcángeles me vienen a buscar </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="Agregar" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-blue-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="Ojala" subheader="Carmesi" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5y8TfQ7JICD_O9h7TL1csSknDRbK_mqmirA&s" />
      </ng-template>
      <p>
        Ojalá que veas a Fleetwood Mac en vivo
Ojalá tu perro siga vivo y bien
Ojalá tu hermano no choque el deportivo
Que el dolor me deje solo de una vez
Ojalá y llores cuando sientas frío
Ojalá mis ojos paren de llover
Ojalá que pasen años para arrancarme de tu ser
Ojalá que llegue ya mi amanecer
Mi psiquiatra me pidió que la tirara
Le mentí, pues tu cartera a salvo está
Mas me compré una diferente y, creo, pirata
Para ya no ver tu cara al pagar </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="Agregar" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-blue-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="Nada que me recuerde a ti " subheader="Cover" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQy_6X1fYm5gG0nfQaoCAMfQqJlX6vZees3jg&s" />
      </ng-template>
      <p>
        Estoy respirando el aire de mis lamentos
Aquí todo huele a trizteza y a desventura
Las penas me dicen que con el llanto se curan
Así que en silencio y a solas me curo por dentro
Pensé en alejarme muy lejos para olvidarte
Pero comprendí que el olvido no está en la distancia
Así que mejor decidí de una vez perdonarte
Y darte en mi vida un lugar de menor importancia
Quisiera entrar en un sueño tranquilo y profundo (ooh ooh ooh)
Y al fin despertarme y saberte lejos de mi mundo y no hallar
Nada que me recuerde a ti
Saber que ni te conocí (ooh ooh)
Verte y sentirte muy lejos e indiferente
Nada que tenga algo que ver
Con nuestras cosas del ayer
Quiero tan sólo tu ausencia de mi presente </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="Agregar" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-blue-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  